@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(fonts/IBMPlexMono-Regular.ttf);
}

ul {
  margin: 0;
  padding: 0;
}

img {
  width: 371px;
  height: 254px;
}

body {
  margin: 0;
}

/* header */
.header {
  width: 1160px;
  margin: 0 auto;
}

.header__container { 
  background-color: #FFFFFF; 
  color: black; 
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 30px 0 16px 0;
}

.logo {
  width: 212px;
  height: 63px;
  flex-shrink: 0;
}

.navigation {
  gap: 24px;
  color: #000;
  font-family: Anonymous Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  list-style-type: none;
}

.links {
  text-decoration: none;
  color: #121723;
}

/* карточки */
.title {
  color: #121723;
  font-family: IBM Plex Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  padding-top: 25px;
  width: 100%;
}

.container {
  border-top: 1px solid #A1A6B4;
  justify-content: center; 
  display: flex; 
  gap: 25px; 
  flex-wrap: wrap; 
  background-color: #E6E8EC66; 
  padding-bottom: 25px;
}

.products {
  width: 1161px; 
  display: flex; 
  flex-wrap: wrap; 
  gap: 24px; 
  justify-content: center; 
  margin: 0;
}

.sneaker {
  width: 371px;
  border-radius: 12px;
  flex-direction: column;
  display: inline-flex;
}

.card__title {
  width: 323px;
  color: #121723;
  font-size: 26px;
  font-family: Anonymous Pro;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.card__text {
  color: #121723;
  font-size: 20px;
  font-family: Anonymous Pro;
  font-weight: 400;
  word-wrap: break-word;
  flex-direction: column;
  align-items: flex-start;
  display: inline-flex;
  margin: 0;
}

.card__image {
  height: 254px;
  width: 371px;
  justify-content: flex-start;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__bottom {
  padding: 32px 24px;
  background: #FFFFFF;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  width: 323px;
  flex-direction: column;
}

/* footer */
.footer {
  background-color: #121723;
  text-align: center;
}

.footer__container {
  width: 1160px;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  display: inline-flex;
  border-bottom: 1px solid rgba(230, 232, 236, 0.40);
  padding: 32px 0;
}

.links_footer {
  color: #FFFFFF;
  text-decoration: none;
  gap: 24px;
  font-family: Anonymous Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  list-style-type: none;
}

.footer__copyright {
  color: #A1A6B4;
  font-family: Anonymous Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 18px 0 21px 0;
  margin: 0 auto;
}

.logo__footer {
  width: 300px;
  height: 22.3px;
  flex-shrink: 0;
  margin: 0;
}

.navigation__footer {
  gap: 24px;
  color: #000;
  font-family: Anonymous Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  list-style-type: none;
}