ul {
	margin: 0;
	padding: 0;
}

img {
	width: 371px;
	height: 254px;
}

body {
	margin: 0;
}

/* header */
.header {
	width: 1160px;
	margin: 0 auto;
}

.header__container {
	background-color: #ffffff;
	color: black;
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding: 30px 0 16px 0;
}

.logo {
	width: 212px;
	height: 63px;
}

.navigation {
	color: #000;
	font-family: Anonymous Pro;
	font-size: 20px;
	font-weight: 700;
	display: inline-flex;
	list-style-type: none;
	gap: 24px;
}

.links {
	color: #121723;
	text-decoration: none;
}

/* cards */
.title {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 48px;
	font-weight: 700;
	padding: 32px 0;
	width: 100%;
	margin: 0;
}

.container {
	background-color: #e6e8ec66;
	border-top: 1px solid #a1a6b4;
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
	padding-bottom: 25px;
}

.products {
	width: 1161px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
}
.sneakers {
	width: 1161px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 24px;
	margin: 0;
}
.sneaker {
	width: 371px;
	border-radius: 12px;
	display: inline-flex;
	flex-direction: column;
}

.sneaker a {
	display: contents;
}

.card__title {
	color: #121723;
	font-family: Anonymous Pro;
	width: 323px;
	font-size: 26px;
	font-weight: 700;
	margin: 0 0 10px 0;
}

.card__text {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 20px;
	font-weight: 400;
	display: inline-flex;
	word-wrap: break-word;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
}

.card__image {
	height: 254px;
	width: 371px;
	justify-content: flex-start;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.card__bottom {
	background: #ffffff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	overflow: hidden;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	width: 323px;
	padding: 32px 24px;
}

/* footer */
.footer {
	background-color: #121723;
	text-align: center;
}

.footer__container {
	color: #ffffff;
	border-bottom: 1px solid rgba(230, 232, 236, 0.4);
	width: 1160px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 0;
}

.links_footer {
	color: #ffffff;
	font-family: Anonymous Pro;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	display: inline-flex;
	gap: 24px;
	list-style-type: none;
}

.footer__copyright {
	color: #a1a6b4;
	font-family: Anonymous Pro;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding: 18px 0 21px 0;
	margin: 0 auto;
}

.logo__footer {
	width: 300px;
	height: 22.3px;
	margin: 0;
}

.navigation__footer {
	color: #000;
	font-family: Anonymous Pro;
	font-size: 20px;
	font-weight: 700;
	display: inline-flex;
	gap: 24px;
	list-style-type: none;
}

/* big card */
.card__wallpaper {
	background-color: #e6e8ec66;
	border-top: 1px solid #a1a6b4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sneaker-big {
	background-color: #ffffff;
	border-radius: 50px;
	margin: 32px 0;
	padding: 48px;
}
.sneaker-big__img {
	height: 600px;
	width: 100%;
}

.sneaker-big__info {
	margin-top: 32px;
}

.sneaker-big__title {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 48px;
	font-weight: 400;
	margin: 0;
}
.row {
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
}
.sneaker-big__subtitle {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 36px;
	font-weight: 400;
	margin: 0;
	padding: 24px 0;
}

.sneaker-big__additional_info {
	display: flex;
}

.sneaker-big__text {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 20px;
	font-weight: 400;
	width: 506px;
	margin: 0;
}

.sneaker-big__text p {
	margin: 0;
}
.hr-sneaker-big {
	color: #121723;
	border-bottom: 0px;
	margin: 0;
}
.sneaker-big__parameters {
	width: 506px;
	margin-left: 32px;
}

.sneaker-big__parameters-title {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 30px;
	font-weight: 400;
	margin: 0;
	padding-bottom: 20px;
}

.sneaker-big__parameters-text {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 20px;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	margin: 0;
}
/* animate */

.sneaker:hover {
	transform: translate(0px, -10px);
	filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.3));
	transition: filter ease-in-out 250ms;
}
.sneaker:active {
	filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.1));
	transition: filter ease-in-out 150ms;
}
:root {
	scroll-behavior: smooth;
}

/* adaptive */
@media screen and (min-width: 375px) and (max-width: 1160px) {
	.header {
		max-width: 100%;
	}

	.container {
		width: 100%;
	}

	.header__container {
		width: 100%;
	}

	.footer__container {
		width: 100%;
	}

	.title {
		font-size: 32px;
	}

	.sneaker {
		width: 343px;
	}

	.card__image {
		width: 343px;
	}

	.card__bottom {
		width: auto;
	}
}

@media screen and (min-width: 375px) and (max-width: 768px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
	}
	.header__container {
		flex-direction: column;
		margin: 0 auto;
	}
	.logo {
		margin-bottom: 24px;
	}
	.products {
		width: 375px;
	}
	.footer__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.logo__footer {
		margin-bottom: 32px;
	}
	.sneaker-big {
		width: 295px;
		border-radius: 12px;
		padding: 24px;
	}
	.title {
		width: 343px;
	}
	.sneaker-big__img {
		width: 100%;
		height: 172px;
	}
	.sneaker-big__title {
		font-size: 32px;
	}
	.sneaker-big__subtitle {
		font-size: 20px;
	}
	.sneaker-big__text {
		font-size: 16px;
		width: auto;
	}
	.sneaker-big__parameters {
		width: auto;
		margin: 32px 0 0 0;
	}
	.sneaker-big__parameters-title {
		font-size: 24px;
	}
	.sneaker-big__parameters-text {
		font-size: 16px;
	}
	.sneaker-big__additional_info {
		flex-direction: column;
	}
}

@media screen and (min-width: 769px) and (max-width: 1160px) {
	.header__container {
		width: 769px;
		margin: 0 auto;
	}
	.products {
		width: 769px;
	}
	.title {
		width: 709px;
	}
	.footer__container {
		width: 769px;
	}
	.sneaker-big {
		width: 661px;
		border-radius: 12px;
		padding: 24px;
	}
	.sneaker-big__img {
		width: 100%;
		height: 430px;
	}
	.sneaker-big__title {
		font-size: 32px;
	}
	.sneaker-big__subtitle {
		font-size: 20px;
	}
	.sneaker-big__text {
		font-size: 16px;
		width: 60%;
	}
	.sneaker-big__parameters {
		width: auto;
		margin: 0 0 0 32px;
	}
	.sneaker-big__parameters-title {
		font-size: 24px;
	}
	.sneaker-big__parameters-text {
		font-size: 16px;
	}
}
